body {
  background-color: rgb(200, 200, 200);
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1280px;
  gap: 10px;
}

.recipe {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  text-align: center;
}

.recipe img {
  width: 300px;
}
